<footer>
  <div class="logo">
    <img src="/Icons/CHFS.png" alt="Logo" />
    <h1>Calgary Housework Flex Service</h1>
  </div>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <section class="links">
    <a href="#"><img src="/Icons/facebook.svg" alt="facebook" /></a>
    <a href="#"><img src="/Icons/instagram.svg" alt="instagram" /></a>
    <a href="#"><img src="/Icons/twitter.svg" alt="twitter" /></a>
    <a href="#"><img src="/Icons/youtube.svg" alt="youtube" /></a>
  </section>
</footer>
