<!DOCTYPE html>
<html lang="zh">
  <head>
    <%- include ("partials/head") %>

    <title>Calgary Housework Flex Service</title>
  </head>
  <body>
    <!--header-->
    <%- include ("partials/header") %>

    <main>
      <!--image part of the first page-->
      <section class="backImage">
        <div class="filter"></div>
        <h3>
          Do you want to be freed from heavy housework?<br />
          <br />
          Post your housework now
        </h3>
        <br />
        <button class="start">Start now</button>
      </section>

      <!--second page-->
      <section class="second">
        <h2>
          By giving the best quality and service, we help you get the best
          <br />
          <br />
          <span style="color: #12948c">Professional housework experience</span>
        </h2>

        <section class="cards">
          <div class="card">
            <img src="./Pictures/snow.jpg" alt="picture" />
            <h4>Snow removal service</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
              vitae omnis similique suscipit esse! Temporibus, quisquam qui
              consequuntur assumenda nihil corrupti id voluptates? Ipsa dolorem
            </p>
            <a href="#">Snow removal service</a>
          </div>
          <div class="card">
            <img src="./Pictures/grass.jpg" alt="picture" />
            <h4>Lawn mowing service</h4>
            <p>
              Lorem nam commodi ex neque repellendus! Facilis eveniet quidem
              sapiente et. Aliquid ut voluptate expedita iure doloremque minima
              id asperiores? Velit nostrum exercitationem consequuntur omnis
              aliquam voluptatum obcaecati. Maiores, aliquam asperiores adipisci
            </p>
            <a href="#">Lawn mowing service</a>
          </div>
          <div class="card">
            <img src="./Pictures/painting.jpg" alt="picture" />
            <h4>Room painting service</h4>
            <p>
              Lorem modi voluptatum esse nobis? Error, quo excepturi. Ipsam quam
              consequuntur quo blanditiis illum ipsum ullam neque ea impedit vel
              tenetur sequi magni sit sint nesciunt dolorum, ab sapiente! Rerum
              porro ipsam minima reprehenderit quidem?
            </p>
            <a href="#">Room painting service</a>
          </div>
        </section>
      </section>
    </main>
    <%- include ("partials/footer") %>
  </body>
</html>
